apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deployment
spec:
  selector:
    matchLabels:
      app: demo
  replicas: 2 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: demo
        image: ricky:0.0.1
        command: [ "/bin/sh", "-c", "/usr/init.sh"]
        ports:
        - containerPort: 5631